.site-main {
    padding-top: 33px;
    background-image: url('./img/Rectangle.svg');
    background-repeat: no-repeat;
    background-size: 1056px 594px;
    background-position: calc(50% - 180px) 330px;
}

.site-theme-switcher .site-main {
    background-color: #333;
}

@media only screen and (max-width: 980px) {
    .site-main {
        background-image: none;
        background-repeat: no-repeat;
        background-size: 0;
        background-position: 0;
        padding-top: 0;    
    }
}